:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 .1em;
}

#header {
  padding: 1em;
}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding-left: 0;
  display: flex;
}

nav ul li {
  padding-left: 1.125em;
}
nav ul li a:visited,
nav ul li a:link {
  text-decoration: none;
  color: black;
}

nav ul li a:hover,
nav ul li a:focus {
    color: red;
}

.intro {
  padding: 2em;
  margin-bottom: 2em;
  border-style: solid;
  border-width: 3px 0 0 0;
  border-color: rgb(243, 242, 242);
}

.intro-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 1em;
}

.intro-grid #span {
  grid-column: 1 / 4;
}

.intro-grid div img {
border-radius: 5px;
}

#valentine >h2 {
  margin-bottom: 0;
}

#valentine >h6,
#valentine >h5 {
  margin-top: 0;
  margin-bottom: 0;
}

#cart {
  border-radius: 5px;
  background-color: black;
  color: white;
  padding: .5em 1em;
  text-align: center;
  display: inline-block;
}

#cart a:visited,
#cart a:link {
text-decoration: none;
color: #fff;
}

#cart a:hover,
#cart a:focus {
  color: red;
}

.dough {
  padding: 1em;
  border-style: solid;
  border-width: 3px 0 0 0;
  border-color: rgb(243, 242, 242);
}

.dough h3 {
  text-align: center;
  padding: 0;
}

.reviews {
  background-color: black;
  color: #fff;
  padding: 2em;
  padding-bottom: 2em;
}

.reviews h3 {
  text-align: center;
  padding: 0;
}

.try-with {
  padding: 1em;
  margin-bottom: 2em;
}

.try-with h3 {
  text-align: center;
}

.try-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.try-grid img {
  border-radius: 5px 5px 0 0;
}

.try-grid article {
background-color: rgb(243, 242, 242);
text-align: center;
border-radius: 0 0 5px 5px;
}

footer {
  padding: 2em;
  text-align: center;
  border-style: solid;
  border-width: 3px 0 0 0;
  border-color: rgb(243, 242, 242);
}

  

/* Media Breakpoints*/

@media (min-width: 60em) {
  .intro > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .quotes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .try-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #dough-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}

@media (min-width: 38em) {
  .intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .intro-grid #span {
    grid-column: 1/2;
  }

  .quotes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .try-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #dough-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
  }
}

/* Fluid Type */


h2 { 
  font-size: var(--font-size-xl);
  font-weight: normal;
  line-height: 1;
}

h3 { 
  font-size: var(--font-size-lg);
}

h4 {
  font-size: var(--font-size-md);
}

h5 {
  font-size: var(--font-size-base;
}

h6 {
  font-size: var(--font-size-sm);
}

h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;
}

p {
    margin-top: .5em;
    font-size: var(--font-size-base)
}

small {
  font-size: var(--font-size-sm);
}